.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-color: white;
  width: 100%;
  color: white;
}
.inner-app {
  width: 100%;
  height: 100%;
}
.header {
  border: black;
  width: 100%;
  height: 7%;
  text-align: center;
}
.search {
  border: black;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
              0 6px 20px rgba(0, 0, 0, 0.15); */
}

.textBox {
  width: 400px;
  height: 30px;
  font-size: medium;
  border-radius: 20px;
  margin-top: 10px;
  border-color: black;
  
  padding-left: 10px;
  
  background: url('./searchicon.png') no-repeat scroll;
  background-size: contain;
  background-color: white;
  padding-left: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about {
  float: left;
  margin-left: 10px;
  width: 40%;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
              0 6px 20px rgba(0, 0, 0, 0.15); */
  color: white;
  padding-left: 10px;
  border-radius: 10px;
}
.about-inner {
  float: left;
  width: 40%;
  padding-left: 15px;
  height: 100%;
}
.about-cloud {
  width: 150px;
  height: 120px;
  background-image: url("./thunder1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.about-data {
  width: 55%;
  height: 70%;
  float: right;
  padding: 0%;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0%;
}

.degree {
  float: left;
  width: 25%;
  height: 70%;
}
.degree-value {
  font-size: 150px;
  padding: 0%;
  margin: 0%;
}
.degree-symbol {
  padding-left: 10px;
  font-size: 30px;
  float: left;
}

.details {
  float: right;
  width: 50%;
  height: 100%;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 
              0 6px 20px rgba(0, 0, 0, 0.15); */
  color: white;
  padding-left: 10px;
  border-radius: 10px;
}

.details-1 {
  float: left;
  width: 30%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
}
.details-2 {
  float: left;
  width: 30%;
  height: 100%;
  margin-right: 2%;
}
.details-3 {
  float: right;
  width: 30%;
  height: 100%;
  margin-right: 2%;
}
.details-inner {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 30%;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forecast {
  /* background-color: pink; */
  width: 100%;
  height: 33%;
}

.middle {
  width: 100%;
  height: 40%;
}
.forecast-heading {
  height: 10%;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}

.forecast-inner {
  margin-left: 2%;
  margin-top: 5px;
  float: left;
  width: 12%;
  height: 80%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forecast-image1{
  width: 60%;
  height: 30%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./thunder1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.forecast-image2{
  width: 60%;
  height: 30%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./thunder2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.forecast-image3{
  width: 60%;
  height: 30%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./thunder3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.forecast-image4{
  width: 60%;
  height: 30%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./thunder4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.forecast-image5{
  width: 60%;
  height: 30%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./thunder5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.forecast-image6{
  width: 60%;
  height: 30%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./thunder1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.forecast-image7{
  width: 60%;
  height: 30%;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("./thunder4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}